body {
    background-image: url('../549771.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.jumbotron.jumbotron-fluid{
    background: transparent;
}

.jumbotron.jumbotron-fluid  .container.d-flex.flex-column.text-center {
    background-color: #0000003f;
    color: whitesmoke;
    border-radius: 10px;
}

.container-fluid.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center {
    background: white;
    width: 80%;
    border-radius: 8px;
}